<div class="tab active" data-tab="general">
  <div id="midi-qol-configuration" style="width: 505px; height: 245px">
    <form autocomplete="off" class="midi-qol" style="padding: 5px">
      <div class="form-group">
        <button type="submit" name="submit">
          <i class="fas fa-save"></i> {{localize "midi-qol.Save"}}
        </button>
      </div>
      <div class="midi-qol-box">
        <div class="form-group SpeedItemRolls">
          <label>{{localize "midi-qol.SpeedItemRolls.Name"}}</label>
          <select name="speedItemRolls" data-dtype="String">
            {{#select configSettings.speedItemRolls}}
            {{#each speedItemRollsOptions as |label val|}}
            <option value="{{val}}">{{label}}</option>
            {{/each}}
            {{/select}}
          </select>
          {{localize "midi-qol.SpeedItemRolls.Hint"}}
        </div>
      </div>

      <div class="midi-qol-nobox">
        <div class="form-group">
          <label>{{localize "midi-qol.MergeCard.Name"}}</label>
          <input type="checkbox" name="mergeCard" data-dtype="Boolean" {{checked configSettings.mergeCard}} />
        </div>
        <div class="midi-qol-faint">{{localize "midi-qol.MergeCard.Hint"}}></div>

        <div class="form-group">
          <label>{{localize "midi-qol.MergeCardCondensed.Name"}}</label>
          <input type="checkbox" name="mergeCardCondensed" data-dtype="Boolean"
            {{checked configSettings.mergeCardCondensed}} />
        </div>
        <div class="midi-qol-faint">{{localize "midi-qol.MergeCardCondensed.Hint"}}></div>

        <div class="form-group">
          <label>{{localize "midi-qol.HideNPCNames.Name"}}</label>
          <input type="String" name="hideNPCNames" value="{{configSettings.hideNPCNames}}" data-dtype="String" />
        </div>
        <div class="midi-qol-faint">{{localize "midi-qol.HideNPCNames.Hint"}}</div>


        <div class="form-group">
          <label>{{localize "midi-qol.UseTokenNames.Name"}}</label>
          <input type="checkbox" name="useTokenNames" data-dtype="Boolean" {{checked configSettings.useTokenNames}} />
        </div>
        <div class="midi-qol-faint">{{localize "midi-qol.UseTokenNames.Hint"}}</div>
      </div>

      <div class="midi-qol-box">
        <h3>
          <div style="text-align: center">Workflow Settings</div>
        </h3>
        <div class=" midi-qol-nobox">
          <div class="form-group autoTarget">
            <label>{{localize "midi-qol.AutoTarget.Name"}}</label>
            <select name="autoTarget" data-dtype="String">
              {{#select configSettings.autoTarget}}
              {{#each autoTargetOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AutoTarget.Hint"}}</div>

          <div class="form-group">
            <label>{{localize "midi-qol.RangeTarget.Name"}}</label>
            <input type="checkbox" name="rangeTarget" data-dtype="Boolean" {{checked configSettings.rangeTarget}} />
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.RangeTarget.Hint"}}</div>
        </div>
        <div class="midi-qol-nobox">
          <div class="form-group autoFastForward">
            <label>{{localize "midi-qol.AutoFastForward.Name"}}</label>
            <select name="autoFastForward" data-dtype="String">
              {{#select configSettings.autoFastForward}}
              {{#each clickOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AutoFastForward.Hint"}}</div>

          <div class="form-group">
            <label>{{localize "midi-qol.RequireTargets.Name"}}</label>
            <input type="checkbox" name="requireTargets" data-dtype="Boolean"
              {{checked configSettings.requireTargets}} />
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.RequireTargets.Hint"}}</div>
          
          <div class="form-group autoCheckHit">
            <label>{{localize "midi-qol.AutoCheckHit.Name"}}</label>
            <select name="autoCheckHit" data-dtype="String">
              {{#select configSettings.autoCheckHit}}
              {{#each autoCheckHitOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AutoCheckHit.Hint"}}</div>


        </div>

        <div class="midi-qol-nobox">
          <div class="form-group autoRollDamage">
            <label>{{localize "midi-qol.AutoRollDamage.Name"}}</label>
            <select name="autoRollDamage" data-dtype="String">
              {{#select configSettings.autoRollDamage}}
              {{#each autoRollDamageOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AutoRollDamage.Hint"}}</div>

          <div class="form-group">
            <label>{{localize "midi-qol.AddChatDamageButtons.Name"}}</label>
            <input type="checkbox" name="addChatDamageButtons" data-dtype="Boolean"
              {{checked configSettings.addChatDamageButtons}} />
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AddChatDamageButtons.Hint"}}</div>
        </div>

        <div class="midi-qol-nobox">
          <div class="form-group autoCheckSaves">
            <label>{{localize "midi-qol.AutoCheckSaves.Name"}}</label>
            <select name="autoCheckSaves" data-dtype="String">
              {{#select configSettings.autoCheckSaves}}
              {{#each autoCheckSavesOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AutoCheckSaves.Hint"}}</div>

          <div class="form-group">
            <label>{{localize "midi-qol.CheckSaveText.Name"}}</label>
            <input type="checkbox" name="checkSaveText" data-dtype="Boolean" {{checked configSettings.checkSaveText}} />
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.CheckSaveText.Hint"}}</div>

          <div class="form-group playerRollSaves">
            <label>{{localize "midi-qol.PlayerRollSaves.Name"}}</label>
            <select name="playerRollSaves" data-dtype="String">
              {{#select configSettings.playerRollSaves}}
              {{#each playerRollSavesOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.PlayerRollSaves.Hint"}}</div>

          <div class="form-group">
            <label>{{localize "midi-qol.PlayerSaveTimeout.Name"}}</label>
            <input type="Number" name="playerSaveTimeout" value="{{configSettings.playerSaveTimeout}}"
              data-dtype="Number" />
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.PlayerSaveTimeout.Hint"}}</div>
        </div>

        <div class="midi-qol-nobox">
          <div class="form-group autoAppplyDamge">
            <label>{{localize "midi-qol.AutoApplyDamage.Name"}}</label>
            <select name="autoApplyDamage" data-dtype="String">
              {{#select configSettings.autoApplyDamage}}
              {{#each autoApplyDamageOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.AutoApplyDamage.Hint"}}</div>

          <div class="form-group damageImmunities">
            <label>{{localize "midi-qol.DamageImmunities.Name"}}</label>
            <select name="damageImmunities" data-dtype="String">
              {{#select configSettings.damageImmunities}}
              {{#each damageImmunitiesOptions as |label val|}}
              <option value="{{val}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="midi-qol-faint">{{localize "midi-qol.DamageImmunities.Hint"}}</div>
        </div>
        <div class="form-group">
          <label>{{localize "midi-qol.AutoEffects.Name"}}</label>
          <input type="checkbox" name="autoItemEffects" data-dtype="Boolean"
            {{checked configSettings.autoItemEffects}} />
        </div>
        <div class="midi-qol-faint">{{localize "midi-qol.AutoEffects.Hint"}}</div>
      </div>
      <div class="form-group">
        <button type="submit" name="submit">
          <i class="fas fa-save"></i> {{localize "midi-qol.Save"}}
        </button>
      </div>

    </form>
  </div>
</div>